li.nav-item
  = link_to 'Товары', products_path, class: 'nav-link'
/ li.nav-item
/   = link_to 'InSales', insales_path, class: 'nav-link'
/ ul.navbar-nav.dropdown
/   li.nav-item.dropdown
/     a (class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Поставщики
/     .dropdown-menu (aria-labelledby="navbarDropdown")
/       / = link_to 'ABC', abcs_path, class: 'dropdown-item'
/       .dropdown-divider
/   li.nav-item.dropdown
/     a (class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Настройки
/     .dropdown-menu (aria-labelledby="navbarDropdown")
/       / - if can? :create, User
/       /   = link_to 'Создать пользователя', new_user_registration_path, class: 'dropdown-item'
/       / = link_to 'Список поставщиков', distributors_path, class: 'dropdown-item'
/       /   .dropdown-divider
/       /   = link_to 'Создать поставщика', new_distributor_path, class: 'dropdown-item'
