.header {
  color: #bbbbbb;
  background-color: #4c5257;
  &.admin_style {
    border-bottom: 1px solid #08668b;
  }
  box-shadow: 0px 5px 20px #dddddd;
  .logo {
    width: 65px;
    padding: 5px;
  }
}
.navbar {
  padding: 0;
}
.header .navbar {
  padding-top: 0;
  padding-bottom: 0;
}
.navbar-brand {
  padding: 0;
}
